@import 'normalize.css'; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600&display=swap');

:root {
  --c-primary: #7939cb;
  --c-primary-dark: #461584;
  --c-primary-light: #f0e4ff;
  --c-white: #ffffff;
  --c-white-50: rgba(255, 255, 255, 0.5);
  --c-primary-text: #313131;
  --c-secondary-text: #4f5b79;
  --c-tertiary-text: #b2b0af;
  --c-purple-text: #9c8bb2;
  --c-yellow: #ff8a00;
  --c-background-light: #faf6ff;
  --c-background-purple: #662daf;
  --c-blue: #5d5fef;
  --c-blue-light: #3f9ae0;
  --c-green: #6fcf97;
  --c-btn-light: #e5d0ff;
  --c-danger: #f94687;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  font-weight: normal;
  background: var(--c-background-light);
  color: var(--c-primary-text);
  font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 1024px) {
}

.App {
  max-width: 414px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 36px;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
}

h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 17px;
}

caption {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 14px;
}

/* General */

.block {
  padding: 2rem;
}
.section {
  padding: 2rem 2rem 0;
}
.d-flex {
  display: flex;
}
.background-purple {
  background: var(--c-background-purple);
  height: 100vh;
}
.background-light {
  background: var(--c-background-light);
  height: 100vh;
}

.page-title div {
  margin-bottom: 0;
  margin-top: 2rem;
  color: var(--c-purple-text);
  font-size: 1.6rem;
  font-weight: 600;
}

.page-title h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--c-primary-text);
}
.logout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Links */
a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--c-white);
}
.show a {
  color: var(--c-blue-light);
  font-size: 1.6rem;
  display: inline-block;
  margin-left: -61px;
  margin-bottom: 20px;
}

/* Buttons */
.btn {
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--c-primary-text);
  border: none;
}

.btn-lt {
  background: var(--c-btn-light);
  color: var(--c-primary);
}

.btn-danger {
  background: var(--c-danger);
  color: var(--c-white);
}
.btn-blue {
  background: var(--c-blue);
  color: var(--c-white);
}
.btn-blue-light {
  background: var(--c-blue-light);
  color: var(--c-white);
}
.btn-green {
  background: var(--c-green);
  color: var(--c-white);
}

.btn-link {
  border: none;
  color: var(--c-primary);
  font-size: 1.4rem;
  font-weight: 600;
  background: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.history-title {
  display: flex;
  justify-content: space-between;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
