@import 'normalize.css'; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500;600&display=swap');

:root {
  --c-primary: #7939cb;
  --c-primary-dark: #461584;
  --c-primary-light: #f0e4ff;
  --c-white: #ffffff;
  --c-white-50: rgba(255, 255, 255, 0.5);
  --c-primary-text: #313131;
  --c-secondary-text: #4f5b79;
  --c-tertiary-text: #b2b0af;
  --c-yellow: #ff8a00;
  --c-background-light: #faf7ff;
  --c-background-purple: #662daf;
  --c-blue: #3f9ae0;
  --c-btn-light: #e5d0ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-weight: normal;
  background: var(--c-background-light);
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 36px;
}

h2 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 24px;
}

h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  line-height: 17px;
}

caption {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  line-height: 14px;
}

/* General */

.block {
  padding: 2rem;
}
.d-flex {
  display: flex;
}
.background-purple {
  background: var(--c-background-purple);
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 233px;
}

/* Links */
a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--c-white);
}
.show a {
  color: var(--c-blue);
  font-size: 1.6rem;
  display: inline-block;
  margin-left: -61px;
  margin-bottom: 20px;
}

/* Buttons */
.btn {
  padding: 2rem;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-lt {
  background: var(--c-btn-light);
}
