.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
}
.logo-container:first-child {
  padding-top: 64px;
}
.signin-nav-container {
  position: relative;
  padding-bottom: 10px;
}
.vector-right {
  position: absolute;
  top: 64px;
  right: 0;
  opacity: 0.3;
}
.vector-left {
  position: absolute;
  top: 48px;
  left: 0;
  opacity: 0.3;
}

.landing-links a {
  color: var(--c-white-50);
  font-weight: 600;
  font-size: 2.4rem;
  font-family: 'Poppins', sans-serif;
  padding: 3rem 3rem 2rem 0;
  z-index: 1;
}

.landing-links .active {
  color: var(--c-white);
}

.forgot {
  text-align: right;
}
.back-signin {
  text-align: center;
  padding-top: 3rem;
}

.terms {
  color: var(--c-white);
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.reset-heading {
  color: var(--c-white);
  text-align: center;
  margin-bottom: 0;
}
.reset-description {
  color: var(--c-white-50);
  text-align: center;
}

.sent-container {
  height: 50vh;
}
.sent-container h1 {
  color: var(--c-white);
  text-align: center;
}

.sent-container p {
  color: var(--c-white-50);
  font-size: 1.8rem;
  text-align: center;
}

.text-dark {
  color: var(--primary-text) !important;
}

.error-msg {
  text-align: center;
  margin-top: 0;
  font-size: 1.6rem;
  color: var(--c-danger);
}
