/* Inputs */
.input {
  border-radius: 20px;
  margin-bottom: 2rem;
  width: 100%;
  color: var(--c-white);
  background: var(--c-primary-dark);
  font-size: 1.6rem;
  padding: 2rem;
  outline: 0;
  border: none;
}

::placeholder {
  color: var(--c-white-50);
}

.input-password {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.input-line-container {
  margin-bottom: 2rem;
  display: flex;
}
.edit-count-icon {
  position: absolute;
  color: var(--c-primary);
  margin-right: 1rem;
}
.input-line {
  border: none;
  border-bottom: 1px solid var(--c-primary-light);
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  outline: none;
  font-size: 1.4rem;
}
